*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #2a2a36;
}

.icone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill forwards 2.4s;
}

.icone path:nth-child(1){
    stroke-dasharray: 4073px;
    stroke-dashoffset: 4073px;
    animation: line-anim 13s ease forwards;
}


@keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill {

    0% {
        fill:#2a2a36;
    }
    50% {
        fill:#2a2a36;
    }
    90% {
        fill:#2a2a36;
    }
    
    100%{
        fill: rgb(255, 255, 255);
    }
 
}

